:root{
    --bg-color:#050404;
    --text-light:#eaeaea;
}

body{
    background-color: var(--text-light);
    color:var(--bg-color);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-container{
    height:auto;
  max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

