:root{
    --bg-color:#050404;
    --text-light:#eaeaea;
}

body{
background-color: var(--bg-color);
color:var(--text-light);
}

main{
    min-height: 100vh;
    height:auto;
}

#section-1{
    height:100vh;   
    position: relative;
}

footer{
    background-color: var(--text-light);
    color: var(--bg-color);
}